<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="previousUrl"></ion-back-button>
    </ion-buttons>
    <ion-title>Select Region</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  <ion-list>
    <ion-item button *ngFor="let r of Regions | filter:filterTerm" value="r.id" (click)="ContactClicked(r.id)">
     <ion-label><ion-icon name="send" float-right></ion-icon>          {{r.region}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
